.orderPageContentWrap {
  position: relative;
  height: 90%;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-family: "Varela";
}

.orderPageHeader {
  width: 100%;
  display: block;
  margin: 0 20px;
}

.orderPageSection {
  height: 100%;
  width: 100%;
  display: flex;
}

.orderPageLeftSide {
  width: 60%;
  height: 100%;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.orderPageRightSide {
  width: 40%;
  height: 100%;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.summaryHeader {
  font-size: 25px;
  margin: 0;
}

.alignCenter {
  text-align: center !important;
}

.productsSummary, .orderDetails, .userColumn {
  background-color: #fff;
  padding: 0 30px;
  border: 3px solid #E2E0E3;
  border-radius: 15px;
}

.productsSummary {
  max-height: 500px;
  overflow-y: auto;
  position: relative;
}

.productsSummary::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.productsSummary::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
  transition: background-color ease-in-out .2s;
}

.productsSummary::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #E2E0E3;
}

.productsSummary::-webkit-scrollbar-thumb:hover {
  background-color: #C8C8C8;
}

.orderPageContentWrap table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 20px;
}

.orderPageContentWrap thead tr, .orderPageContentWrap tbody tr {
  transition: background-color ease-in-out .2s;
}

.orderPageContentWrap thead th {
  text-align: left;
  border-bottom: 3px solid #E2E0E3;
}

.orderPageContentWrap thead th, .orderPageContentWrap tbody td {
  padding: 20px 20px 20px 0;
}

.orderPageContentWrap tbody td:first-child {
  padding: 20px 0 20px 20px;
}

.orderPageContentWrap tbody td {
  padding: 0.5em;
  border-bottom: 3px solid #E2E0E3;
}

.orderPageContentWrap tbody tr:last-child td {
  padding: 0.5em;
  border-bottom: none;
}

.orderDetails {
  margin-top: 40px;
}

.orderDetailsRow {
  width: 100%;
  border-bottom: 3px solid #E2E0E3;
  display: flex;
  flex-direction: row;
  padding: 20px 0;
}

.orderDetailsRow:last-child {
  border-bottom: none;
}

.orderDetailsLeft {
  width: 50%;
  text-align: left;
  font-weight: bold;
}

.orderDetailsRight {
  width: 50%;
  text-align: right;
}

.userColumn {
  padding-top: 20px;
  padding-bottom: 20px;
}

.userColumnRow {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.userInfo {
  font-size: 16px;
  font-weight: 600;
}

.editOrderButton {
  padding: 10px 45px;
  border: 2px solid #EF5F63;
  font-size: 16px;
  font-weight: 600;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 25px;
}

.editOrderButton:hover {
  color: #fff;
  background: #EF5F63;
}

.orderStatusSummary {
  padding: 10px 15px;
  background-color: #DCDFE8;
  border-radius: 10px;
  margin-bottom: -10px;
}
